/* src/components/CalendarCustom.css */
.calendar-container {
  flex-grow: 1; /* Ocupa el espacio vertical restante dentro de dashboard-content */
  display: flex;
  justify-content: stretch; /* El calendario se estira horizontalmente */
  align-items: stretch; /* El calendario se estira verticalmente dentro del espacio restante */
  box-sizing: border-box;
  overflow: auto; /* Añade scroll si el contenido del calendario es muy grande */
}

.react-calendar {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 100%; /* Ocupa toda la altura del contenedor */
  background: var(--beige);
  border: 1px solid var(--dark-moss-green);
  font-family: sans-serif;
  line-height: 1.125em;
  display: flex;
  flex-direction: column; /* Para organizar los elementos internos del calendario */
}

.react-calendar__navigation {
  display: flex;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  color: var(--dark-moss-green);
  font-size: 1em;
  padding: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
  color: #999;
  cursor: default;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: var(--yellow-green);
}

.react-calendar__month-view {
  flex-grow: 1; /* Permite que la vista del mes ocupe el espacio restante */
  display: flex;
  flex-direction: column;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  color: var(--dark-moss-green-2);
  display: flex;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  flex-grow: 1;
  flex-basis: 0; /* Evita el encogimiento desigual */
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.5em;
  flex-grow: 1; /* Permite que los días ocupen el espacio restante */
}

.calendar-container .react-calendar .react-calendar__month-view .react-calendar__tile {
  max-width: initial !important;
  background: none;
  text-align: center;
  padding: 0.8em 0.5em;
  border: 1px solid var(--dark-moss-green-2); /* Añade un borde gris claro */
  font-size: 0.9em;
  color: var(--dark-moss-green);
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px; /* Asegura una altura mínima para las celdas */
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #999;
  cursor: default;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: var(--platinum);
}

.react-calendar__tile--now {
  background: var(--yellow-green);
  font-weight: bold;
  color: var(--dark-moss-green);
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--yellow-green);
}

.react-calendar__tile--active {
  background: var(--dark-moss-green);
  color: var(--beige);
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--dark-moss-green);
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  font-weight: bold;
  color: var(--dark-moss-green-2);
}