/* src/components/CalendarCustom.css */
.calendar-container {
  flex-grow: 1;
  /* Ocupa el espacio vertical restante dentro de dashboard-content */
  display: flex;
  height: 50vh;
  flex-direction: column;
  padding-bottom: 5vh;
  /* por ejemplo */
  justify-content: stretch;
  /* El calendario se estira horizontalmente */
  align-items: stretch;
  /* El calendario se estira verticalmente dentro del espacio restante */
  box-sizing: border-box;
  overflow: auto;
  /* Añade scroll si el contenido del calendario es muy grande */
}

.react-calendar {
  flex-grow: 1;
  width: 100%;
  /* Ocupa todo el ancho del contenedor */
  height: 100%;
  display: flex;
  flex-direction: column;
  /* Ocupa toda la altura del contenedor */
  background: var(--beige);
  border: 1px solid var(--dark-moss-green);
  font-family: sans-serif;
  line-height: 1.125em;
  /* Para organizar los elementos internos del calendario */
}

.react-calendar__navigation {
  display: flex;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  color: var(--dark-moss-green);
  font-size: 1em;
  padding: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
  color: #999;
  cursor: default;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: var(--yellow-green);
}

.react-calendar__month-view {
  flex-grow: 1;
  /* Permite que la vista del mes ocupe el espacio restante */
  display: flex;
  flex-direction: column;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  color: var(--dark-moss-green-2);
  display: flex;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  flex-grow: 1;
  flex-basis: 0;
  /* Evita el encogimiento desigual */
}

.react-calendar__month-view__days {
  flex-grow: 1;
  height: 100%;
  /* Asegura que use todo el alto disponible */
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.5em;
  grid-auto-rows: 1fr;
  /* ¡Esta línea es clave! */
  margin: 0 0.5rem;
  /* Espaciado izquierdo y derecho */
}

.calendar-container .react-calendar .react-calendar__month-view .react-calendar__tile {
  height: 100%;
  /* ocupa todo el alto de la celda */
  min-height: 40px;
  display: flex;
  align-items: flex-start;
  /* align-items: center; */
  /* arriba */
  justify-content: flex-start;
  /* justify-content: center; */
  /* izquierda */
  padding: 0.5em;
  /* agrega un poco de padding para que no quede pegado */
  border: 1px solid var(--dark-moss-green-2);
  font-size: 0.9em;
  color: var(--dark-moss-green);
  cursor: pointer;
  transition: background-color 0.2s ease;
  background: none;
}


.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #999;
  cursor: default;
}

.calendar-container .react-calendar .react-calendar__month-view .react-calendar__tile:enabled:hover,
.calendar-container .react-calendar .react-calendar__month-view .react-calendar__tile:enabled:focus {
  background-color: var(--yellow-green);
  color: var(--dark-moss-green);
  font-weight: 600;
  transition: background-color 0.2s ease, color 0.2s ease, font-weight 0.2s ease;
}


.react-calendar__tile--now {
  background: var(--yellow-green);
  font-weight: bold;
  color: var(--dark-moss-green);
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--yellow-green);
}

.react-calendar__tile--active {
  background: var(--dark-moss-green);
  color: var(--beige);
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--dark-moss-green);
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  font-weight: bold;
  color: var(--dark-moss-green-2);
}