/* src\components\Dashboard\Dashboard.css */
.dashboard-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--beige);
  color: var(--dark-moss-green);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden; /* Importante para que la barra de desplazamiento del contenido funcione correctamente */
}

.dashboard-sidebar {
  width: 250px;
  background-color: var(--dark-moss-green);
  color: var(--beige);
  padding: 20px;
  box-sizing: border-box;
}

.dashboard-navigation {
  list-style: none;
  padding: 0;
}

.dashboard-navigation li {
  padding: 10px 0;
  cursor: pointer;
  color: var(--beige);
}

.dashboard-sidebar-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.configuracion,
.cerrar-sesion {
  cursor: pointer;
  padding: 10px 0;
  color: var(--beige);
}

.dashboard-content {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto; /* Aseguramos que la barra de desplazamiento vertical aparezca si es necesario */
}
